            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Capriola&family=Caveat:wght@400..700&family=Chewy&family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
             :root {
                --bg-color: #F9F6EE;
                --text-color: #4A2E2B;
                --card-bg: #FFFFFF;
                --bg: #1b1207;
                --surface: #4e2f13;
                --brown: #63492e;
                --accent: #ac895a;
                --light: #ece5d9;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            }
            
            body {
                background-color: var(--bg-color);
                color: var(--text-color);
            }
            
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 5% 10px 3%;
                width: 100%;
                background-color: var(--bg-color);
                flex-wrap: wrap;
            }
            
            .logo img {
                width: 25%;
                min-width: 200px;
                max-width: 350px;
                height: auto;
            }
            
            .nav-links {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }
            
            .menu-toggle {
                font-size: 1.5rem;
                cursor: pointer;
            }
            
            .hero {
                position: relative;
                width: 100%;
                min-height: 380px;
                overflow: hidden;
                margin: -35px 0;
                display: flex;
                align-items: center;
            }
            
            .hero-image {
                position: absolute;
                inset: 0;
            }
            
            .hero-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .hero-content {
                position: relative;
                z-index: 2;
                width: 90%;
                max-width: 500px;
                margin-left: 8%;
            }
            
            .hero-content h1 {
                color: white;
                font-size: 2.5rem;
                text-shadow: 0 2px 4px rgba(0, 0, 0, .6);
                margin-bottom: 20px;
            }
            
            .menu-section {
                padding: 45px 20px;
                text-align: center;
            }
            
            .menu-section h2 {
                margin-bottom: 25px;
                font-family: "Chewy", system-ui;
                font-size: 2.5rem;
                color: var(--surface);
            }
            
            .menu-grid {
                width: 90%;
                max-width: 1200px;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                gap: 40px;
            }
            
            .card {
                background: var(--brown);
                border-radius: 20px;
                padding: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                color: var(--light);
            }
            
            .card img {
                width: 100%;
                max-width: 220px;
                height: auto;
                border-radius: 10%;
            }
            
            .price {
                font-weight: bold;
                font-size: 1.2rem;
            }
            
            .nav-links {
                display: flex;
                gap: 25px;
                padding-bottom: 25px;
            }
            
            .nav-links a {
                text-decoration: none;
                color: var(--text-color);
                font-weight: 500;
            }
            
            .info {
                display: none;
                margin-top: 10px;
                font-size: 0.9rem;
                color: var(--light);
            }
            
            footer {
                background: var(--brown);
                color: white;
                text-align: center;
                padding: 1rem;
            }
            
            .btn-coffee {
                background-color: var(--surface);
                color: white;
                border: none;
                border-radius: 50px;
                padding: 14px 28px;
                font-size: 16px;
                cursor: pointer;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                transition: 0.3s;
                text-decoration: none;
            }
            
            .btn-coffee:hover {
                background-color: #5A3F2D;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
                transform: translateY(-2px);
            }